@media (min-width: 1024px) {


  header{
    display: none;
  }

  main .form-wrapper:first-of-type{
    padding-top: 0px;
  }
   main .form-wrapper:first-of-type .form.block[data-block-name="form"] form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background: #5B4BDF;
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(16, 24, 40, 0.08);

    max-width: 1280px;
    margin: 0 auto;
  }

  main .form-wrapper:first-of-type .form.block .image-wrapper {
    margin: 0;
  }

  main .form-wrapper:first-of-type #image-0db345f307 picture,
  main .form-wrapper:first-of-type #image-0db345f307 img {
    display: block;
    height: 40px;
    width: auto;
  }

  main .form-wrapper:first-of-type #image-4966a5d564 picture,
  main .form-wrapper:first-of-type #image-4966a5d564 img {
    display: block;
    height: 56px;
    width: auto;
  }

  main .form-wrapper:first-of-type #image-0db345f307,
   main .form-wrapper:first-of-type #image-4966a5d564 {
    flex: 0 0 auto;
  }

 .section.fragment-container .field-country-mobile-panel .field-mobilenumber input[type="text"]
{
    width: 305px;
    height: 55px;
    border-radius: 0;
    padding: 25px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    padding-right: 10px;
    letter-spacing: 10px;
    margin-left: -8%;
    font-size: 1.4rem;
}

.section.fragment-container .field-country-mobile-panel .field-countrycode select{
 height: 55px;
 border-top-left-radius: 14px;
 border-bottom-left-radius: 14px;
 margin-top: 3px;
}

.field-otp-input input[type="text"]
{
    height: 60px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 65px;
    font-size: 20px;
    border-radius: 16px;
    text-align: center;
}.field-otp-input input[type="text"]::placeholder
{
    text-align: center
}

.field-otp-input button{
  border-radius: 16px;
}
.field-attempts-left p p{
  width: max-content;
}
 main .form.block form .plain-text-wrapper.field-plain-text1771495264010,
 main .form.block form .plain-text-wrapper.field-plain-text1771495264010 *{
  margin: 0;
}

}