/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --hdfc-header-footer: #001D4A;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* Custom Styles */

/* HDFC offerpage css */
.field-personalized-loan-offer-text,
.field-personalized-loan-offer-text *
{
  margin: 0;
}
.pl-offers-page .field-personalized-loan-offer-text  p p{
  font-size: 1.6rem !important;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  letter-spacing: 0.1px;
}
.field-loan-amount-text-input input,
.field-blue-color-container-dynamic-panel input,
.field-amount-in-card-inr input,
.field-emi-amount-input input,
.field-roi-amount-input input
{
  border: none !important;
  pointer-events: none !important;
  outline: none !important;
}
.field-blue-color-container-dynamic-panel {
  background-color: #EAFcFE ;
  border-radius: 16px;
  height: auto;
  padding: 15px;
  display: flex !important;
  align-items: center !important;
  gap: 0 !important;
}
.field-loan-amount-text-input{
  width: 35%;
}
.field-blue-color-container-dynamic-panel input{
    background-color: #EAFcFE  !important;
    color: black !important;
    font-size: 1.2rem !important;
    font-family: sans-serif;
}
.field-blue-color-container-dynamic-panel .field-form-image1771683660126{
  width: 80px;
  margin-left: 20px !important;
}
.field-loan-amount-tenure-panel p p{
  font-size: 1.2rem  !important;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}
.field-slider-and-loan-panel,
.field-emi-tenure-panel
{
  display: flex !important;
  flex-direction: column !important;
}
.field-slider-and-loan-panel label{
  font-weight: bold !important;
}
.field-overall-amount-in-body,
.field-emi-tenure-input
{
  width: 30%;
  align-self:flex-end;
  position: relative;
  top: 60px;
}
.field-overall-amount-in-body *{
  margin-bottom: 0 !important;
}
.field-overall-amount-in-body input,
.field-emi-tenure-input input
{
  border: 2px solid gray !important;
  height: 50px !important;
  border-radius: 0 !important;
  font-size: 1.1rem !important;
  /* padding: 25px !important; */
  border-radius: 14px !important;
  font-weight: bold !important;
  text-align: center;
  
}
input[type="range"]{
  height: 10px !important;
  background-image: linear-gradient(to right, #e47c04 calc(100% * var(--current-steps) / var(--total-steps)), #C5C5C5 calc(100% * var(--current-steps) / var(--total-steps))) !important;
}
.field-min-amount,
.field-max-amount{
  display: none;
}

.field-card-panel .field-card-secondary-panel{
  background-color: #FFF8E1;
  margin-left: 18% !important;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px !important;
}
.field-avail-text p,
.field-amount-in-card-inr input
{
  font-size: 1.6rem !important;
  color: black !important;
  font-weight: bolder !important;
  margin: 0 !important;
  background-color:#FFF8E1 !important; ;
  padding: 0 !important;
}
.field-amount-in-card-inr{
  margin: 0 !important;
   margin-bottom: 20px !important;
  width: 95%;
  position: relative !important;

}
.field-amount-in-card-inr::after{
  content: "" !important;
  letter-spacing: 2px;
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 65% !important;
  border-bottom: 2px dotted gray;
  bottom: -12px !important;
}
.field-amount-in-card-inr input{
  font-size: 3.5rem !important;
  width: 90% !important;
  height: 60px !important;
}
.field-plain-text1771676247795{
  background-color: #f29a2e;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.field-plain-text1771676247795 p{
  margin: 0 !important;
  color: white !important;
  padding: 10px;
  padding-left: 8px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.field-emi-roi-seprate-panel,
.field-tax-panel,
.field-card-3nd-sub-panel
{
  border-left: 5px solid #f29a2e !important;
}

.field-emi-amount input,
.field-tax-panel input,
.field-card-3nd-sub-panel input
{
  border: none !important;
  background-color: #FFF8E1 !important;
  font-size: 1.3rem !important;
  color: #131313 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.field-emi-amount,
.field-taxes-input
{
  margin-left: 25px !important;
}
.field-tax-panel,
.field-roi-amount-input
{
  margin-right: 0 !important;
}
.field-plain-text1771676247795{
  margin-left: 18% !important;
  width: 100% !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  height: auto !important;
  height: 85px !important;
}
.field-card-secondary-panel,
.field-card-secondary-panel *
 {
  margin-bottom: 0 !important;
}
.field-card-2nd-sub-panel{
  margin-left: 0 !important;
}


/* hidden inputs */

.field-tenure-hidden-input,
.field-rate-of-interst-input
{
  display: none;
}

/*
* 
  Review Details Page Styles
*
*/
form .field-review-details-fragment-on-page .field-review-details-text p p:nth-of-type(1){
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0;
}
form .field-review-details-fragment-on-page .field-review-details-text p p:nth-of-type(2){
  font-size: 1.0rem;
}
main .form form .field-loan-details-accordion.field-wrapper legend{
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}
main .form form .field-main-panel-for-accordion input{
  pointer-events: none;
  border: none;
}
main .form form .field-main-panel-for-accordion .text-wrapper{
  width: auto;
  border-left: 3px solid blue;
}